window.App = angular.module('connectapp', []);

App.config(["$routeProvider","$compileProvider",function($routeProvider,$compileProvider) {
  $compileProvider.urlSanitizationWhitelist(/^\s*(https?|ftp|mailto|file|tel|sms):/);
  $routeProvider
    .when('/',{
      templateUrl: "index.html",
      controller: "ReportCtrl"
    })
    .when('/not_work',{
      templateUrl: "not_work.html",
      controller: "ReportCtrl"
    })
    .when('/worked_out',{
      templateUrl: "worked_out.html",
      controller: "ReportCtrl"
    })
    .when('/ending',{
      templateUrl: "ending.html",
      controller: "ReportCtrl"
    })
    .otherwise({ redirectTo: '/' })
}]);

App.run(["$rootScope","$location", function($rootScope,$location){
  $rootScope.engagement_level = null;
  $rootScope.levels = {
    digital: <%= Lead::REPORT_CODES.digital %>,
    face: <%= Lead::REPORT_CODES.face %>,
    digital_cont: <%= Lead::REPORT_CODES.digital_cont %>,
    face_cont: <%= Lead::REPORT_CODES.face_cont %>
  };
  $rootScope.authtoken = $('meta[name="csrf-token"]').attr('content');
}]);

App.directive("progressbar", ["$rootScope", function($rootScope) {
  return {
    scope: {
      percentage: "@",
      message: "@"
    },
    restrict: "E",
    templateUrl: "progress.html",
    link: function() {
      var opts = {
        lines: 10, // The number of lines to draw
        length: 10, // The length of each line
        width: 5, // The line thickness
        radius: 16, // The radius of the inner circle
        corners: 1, // Corner roundness (0..1)
        rotate: 0, // The rotation offset
        direction: 1, // 1: clockwise, -1: counterclockwise
        color: '#fff', // #rgb or #rrggbb
        speed: 1.6, // Rounds per second
        trail: 50, // Afterglow percentage
        shadow: false, // Whether to render a shadow
        hwaccel: false, // Whether to use hardware acceleration
        className: 'spinner', // The CSS class to assign to the spinner
        zIndex: 2e9, // The z-index (defaults to 2000000000)
        top: '19%', // Top position relative to parent in px
        left: '19%' // Left position relative to parent in px
      };
      var target = document.getElementById('spinner_dialog');
      new Spinner(opts).spin(target);
      $rootScope.spinner = $('#spinner_dialog');
    }
  }
}]);

App.directive("phone", ["$rootScope","$http", function($rootScope,$http){
  return {
    scope: {
      tel: "@",
      tourl: "@",
      campaignid: "@",
      hiddenphoneclass: "@"
    },
    replace: true,
    restrict: "E",
    template: "<a href='tel:{{tel}}' class='btn'><i class='icon-phone icon-large'></i><span class='{{hiddenphoneclass}}'>&nbsp;{{tel}}</span></a>",
    link: function(scope, iElement, iAttrs, controller) {
      $(iElement).on('click',function(e){
        e.stopPropagation();
        e.preventDefault();
        var data = {
          'authenticity_token': $rootScope.authtoken,
          'activity': {
            'activity_type_id':'<%= ActivityType::PHONE_CALL_TYPE_ID %>',
            'campaign_id': $(iElement).attr('campaignid')
          }
        }
        $http.post($(iElement).attr('tourl'), $.param(data), {
          headers: {'Content-Type': 'application/x-www-form-urlencoded'}
        }).
        success(function(data, status) {
          target_url = $(e.currentTarget).attr('href')
          window.location = target_url;
        });
      });
    }
  }
}]);

App.directive("sms", ["$rootScope","$http", function($rootScope,$http){
  return {
    scope: {
      tel: "@",
      tourl: "@",
      campaignid: "@",
      hiddenphoneclass: "@"
    },
    replace: true,
    restrict: "E",
    template: "<a href='sms:{{tel}}' class='btn'><i class='icon-comment icon-large'></i></a>",
    link: function(scope, iElement, iAttrs, controller) {
      $(iElement).on('click',function(e){
        e.stopPropagation();
        e.preventDefault();
        var data = {
          'authenticity_token': $rootScope.authtoken,
          'activity': {
            'activity_type_id':'<%= ActivityType::SMS_TYPE_ID %>',
            'campaign_id': $(iElement).attr('campaignid')
          }
        }

        $http.post($(iElement).attr('tourl'), $.param(data), {
          headers: {'Content-Type': 'application/x-www-form-urlencoded'}
        }).
        success(function(data, status) {
          target_url = $(e.currentTarget).attr('href')
          window.location = target_url;
        });
      });
    }
  }
}]);

App.directive("email", ["$rootScope","$http", function($rootScope,$http){
  return {
    scope: {
      address: "@",
      tourl: "@",
      campaignid: "@",
      hiddenphoneclass: "@"
    },
    replace: true,
    restrict: "E",
    template: "<a href='mailto:{{address}}' class='btn' target='_blank'><i class='icon-envelope icon-large'></i><span class='{{hiddenphoneclass}}'>&nbsp;{{address}}</span></a>",
    link: function(scope, iElement, iAttrs, controller) {
      $(iElement).on('click',function(e){
        e.stopPropagation();
        var data = {
          'authenticity_token': $rootScope.authtoken,
          'activity': {
            'activity_type_id':'<%= ActivityType::EMAIL_TYPE_ID %>',
            'campaign_id': $(iElement).attr('campaignid')
          }
        }

        $http.post($(iElement).attr('tourl'), $.param(data), {
          headers: {'Content-Type': 'application/x-www-form-urlencoded'}
        });
      });
    }
  }
}]);

App.controller("ReportCtrl", ["$scope","$routeParams","$rootScope","$http","$location",function($scope,$routeParams,$rootScope,$http,$location) {
  $scope.goBack = function() {
    window.history.back();
  };
  $scope.setEngagementLevel = function(selection) {
    if (selection == 'ending') {
      return;
    }
    else if($rootScope.engagement_level == $rootScope.levels.digital && selection == 'continuing') {
      $rootScope.engagement_level = $rootScope.levels.digital_cont;
    }
    else if($rootScope.engagement_level == $rootScope.levels.face && selection == 'continuing') {
      $rootScope.engagement_level = $rootScope.levels.face_cont;
    }
    else {
      $rootScope.engagement_level = selection;
    }
  };
  $scope.submit = function(selection) {
    $scope.setEngagementLevel(selection);
    if($rootScope.engagement_level === null || $rootScope.engagement_level == 'continuing') {
      alert("Please make sure to follow the steps provided. Try again please.");
      $location.path("/");
    } else {
      var data = {
        'authenticity_token': $rootScope.authtoken,
        'lead': {
          'status_id':'<%= Lead::COMPLETED_STATUS_ID %>',
          'engagement_level': $rootScope.engagement_level
        }
      }
      var xsrf = $.param(data);
      var url = $('ng-view').data('url');

      $rootScope.spinner.show();

      $http.put(url, xsrf, {
        headers: {'Content-Type': 'application/x-www-form-urlencoded'}
      }).success(function (data, status, headers, config){
        $location.path('/ending');
      }).error(function(data, status, headers, config){
        alert(data);
      });
    }
  }
}]);